/* Coolors Exported Palette - coolors.co/30bced-303036-fffaff-fc5130-050401 */

/* HSL */
$color1: hsla(196%, 84%, 56%, 1);
$color2: hsla(240%, 6%, 20%, 1);
$color3: hsla(300%, 100%, 99%, 1);
$color4: hsla(10%, 97%, 59%, 1);
$color5: hsla(45%, 67%, 1%, 1);

/* RGB */
$color1: rgba(48, 188, 237, 1);
$color2: rgba(48, 48, 54, 1);
$color3: rgba(255, 250, 255, 1);
$color4: rgba(252, 81, 48, 1);
$color5: rgba(5, 4, 1, 1);